<header class="bg-brand-header fixed-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <nav class="navbar navbar-expand-lg navbar-light">
          <button
            class="navbar-toggler p-0"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" routerLink="/home"> Presort Services </a>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item divider-vertical d-none d-lg-block"></li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdownMenuLink"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  >Financials</a
                >
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="min-width: 300px">
                  <a class="dropdown-item" routerLink="/item2">Invoices</a>
                  <a class="dropdown-item" routerLink="/financials/new-invoice">New Invoice</a>
                  <a class="dropdown-item" routerLink="">Deposit Account Balances</a>
                  <a class="dropdown-item" routerLink="/transactions">Transactions and Invoices</a>
                </div>
              </li>
              <li class="nav-item">
                <a
                        class="nav-link"
                        routerLink="/form"
                        role="button"
                        aria-haspopup="true"
                        aria-expanded="false"
                >Add Users</a
                >
              </li>
            </ul>

            <ul class="navbar-nav navbar-right" [ngClass]="{ 'search-active': searchActive }">

              <!-- Shutterfly-->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"
                   href="#"
                   role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true"
                   aria-expanded="false">
                  <span class="d-lg-none" id="account-switcher">
                    <i class="pbi-icon-mini pbi-account-switcher pr-0" aria-hidden="true"></i>&nbsp;
                  </span>
                  <i class="pbi-icon-outline pbi-account-switcher d-none d-lg-inline d-sm-block pr-2" aria-hidden="true"></i>
                  Shutterfly
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <div class="section-head d-none d-sm-block pt-1 pb-2">Shutterfly</div>
                  <a class="dropdown-item" routerLink="">Shutterfly Business Solutions</a>
                  <a class="dropdown-item" routerLink="">Shutterfly Lifetouch</a>
                  <a class="dropdown-item" routerLink="">Shutterfly Transactional</a>
                </div>
              </li>

              <!-- Support menu -->
              <li class="nav-item dropdown menu-help">
                <a
                  href=""
                  class="nav-link dropdown-toggle"
                  data-toggle="dropdown"
                  aria-labelledby="help-offscreen"
                  aria-expanded="false"
                  aria-haspopup="true"
                >
                  <i class="pbi-icon-outline pbi-help-circle d-none d-lg-inline" aria-hidden="true"></i>
                  <span class="d-lg-none" id="help-offscreen">
                    <i class="pbi-icon-mini pbi-help-circle" aria-hidden="true"></i>&nbsp;Support
                  </span>
                </a>
              </li>

              <!-- User menu -->
              <li class="nav-item dropdown menu-user">
                <a
                  href=""
                  class="nav-link dropdown-toggle"
                  data-toggle="dropdown"
                  aria-labelledby="username-offscreen"
                  aria-expanded="false"
                >
                  <div class="d-none d-lg-block header-user-lockup">
                    <div class="header-username">Jane Doe</div>
                  </div>

                  <span class="d-lg-none" id="username-offscreen">
                    <i class="pbi-icon-mini pbi-user-circle" aria-hidden="true"></i>&nbsp;Jane Doe
                  </span>
                </a>

                <div class="dropdown-menu" role="menu">
                  <a class="dropdown-item" href="">Profile Settings</a>
                  <a class="dropdown-item" href="">Sign Out</a>
                </div>
              </li>
            </ul>

            <!-- new search, appears when icon in right menus (above) is clicked -->
            <div class="header-search d-none d-sm-block" [ngClass]="{ 'search-active': searchActive }">
              <form class="search-ui">
                <input
                  #searchInput
                  id="search-input"
                  class="form-control search"
                  type="text"
                  required=""
                  aria-label="Search"
                />

                <button
                  class="search-clear border-0"
                  type="reset"
                  (click)="toggleSearch($event)"
                  aria-label="clear search"
                >
                  <i class="pbi-icon-mini pbi-close" aria-hidden="true"></i>
                </button>
              </form>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
