<div class="card-container">
    <div class="card-container-title">
        <h3>{{title}}</h3>
        <button class="card-btn">{{view}}</button>
    </div>
    <div class="card-container-content">
        <h4>{{tableName}}</h4>
        <div class="card-table">
            <div class="table-element">
                <p class="table-element-num">00-37288-1</p>
                <p class="table-element-center">Revolving</p>
                <p>-$456.92</p>
            </div>
            <div class="table-element">
                <p class="table-element-num">00-37295-2</p>
                <p class="table-element-center">Long Term</p>
                <p>$108.87</p>
            </div>
            <div class="table-element">
                <p class="table-element-num">00-37310-5</p>
                <p class="table-element-center">W2 deposit account</p>
                <p>$205.09</p>
            </div>
            <div class="table-element">
                <p class="table-element-num">00-37310-7</p>
                <p class="table-element-center">MAJORS Deposit Account</p>
                <p>$435.14</p>
            </div>
            <div class="table-element">
                <p class="table-element-num">00-37310-9</p>
                <p class="table-element-center">VAR Deposit Account</p>
                <p>$871.15</p>
            </div>
            <div class="table-element">
                <p></p>
                <p></p>
                <button class="card-btn">+{{more}} more</button>
            </div>
        </div>
    </div>
    <div class="card-container-footer">
        <p>{{footer}}</p>
    </div>
</div>
