<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Presort Services Locations</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
            <div class="mb-3">
                    <p-table
                            [value]="locations"
                            [paginator]="false"
                            [showCurrentPageReport]="false"
                            [globalFilterFields]="['acronym', 'name', 'location']"
                    >
                        <ng-template pTemplate="header">
                            <tr>
                                <th *ngFor="let col of locationsCols" [style.width]="col.width">
                                    {{ col.header }}
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-locations let-columns="locationsCols">
                            <tr [pSelectableRow]="locations">
                                <td *ngFor="let col of locationsCols">
                                    {{ locations[col.field] }}
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
            </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modal.close()">OK</button>
    </div>
</ng-template>

<button class="btn btn-lg btn-primary" (click)="open(content)">btn z html modala</button>
