<div *ngIf="products">
    <div class="modal-header pb-3">
        <h4 class="modal-title">Detailed data</h4>
            <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
        </div>
    <div>

        <table class="table table-striped mt-3">
            <thead>
            <tr>
                <th scope="col">Invoice Date</th>
                <th scope="col">Invoice</th>
                <th scope="col">Bill to Acct</th>
                <th scope="col">Payment Due Date</th>
                <th scope="col">Amount Due</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ products.invoiceDate}}</td>
                <td>{{ products.invoice }}</td>
                <td>{{ products.billToAcct }}</td>
                <td>{{ products.paymentDueDate }}</td>
                <td>{{ products.amountDue | currency }}</td>
            </tr>
            </tbody>
        </table>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>

        <p><b>Account:</b> {{ products.account }}</p>
        <p><b>Location:</b> {{ products.location }}</p>
        <p><b>Status: </b>
            <span class="pt-1 pb-1 pl-2 pr-2 text-white"
                  style="border-radius: 16.5px"
                  [ngStyle]="{'background-color': products.status === 'Past Due' ? 'red' : (products.status === 'Paid' ? 'green' : 'orange') }"
            >
                {{ products.status }}
            </span>
        </p>
    </div>
    <div class="modal-footer d-flex justify-content-around p-3">
        <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">OK</button>
    </div>
</div>


