<app-toasts class="mt-7" aria-live="polite" aria-atomic="true"></app-toasts>
<pbds-page-title ttl="Transactions and Invoices" layout="container-fluid"></pbds-page-title>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="d-flex pb-3 justify-content-between">
                <div>
                    <h2>Ajax Subliminals</h2>
                    <h5>Account: 0018315093</h5>
                </div>
                <div class="d-flex flex-column justify-content-end">
                    <button class="btn btn-secondary">Payment Instructions<i class="pbi-icon-outline pbi-link-external pl-2" aria-hidden="true"></i></button>
                    <p class="pt-1">Paying online? <button class="bg-transparent border-0 text-primary">Pay on Your Account</button></p>
                </div>
            </div>

            <ul ngbNav #nav="ngbNav" class="nav-tabs pt-2" [(activeId)]="active" (activeIdChange)="onNavChange($event)">

                <!-- Pending Transactions -->
                <li [ngbNavItem]="1">
                    <a ngbNavLink> Pending Transactions </a>
                    <ng-template ngbNavContent>
                        <app-pending-transactions></app-pending-transactions>
                    </ng-template>
                </li>

                <!-- Invoices -->
                <li [ngbNavItem]="2">
                    <a ngbNavLink> Invoices </a>
                    <ng-template ngbNavContent>
                        <app-invoices></app-invoices>
                    </ng-template>
                </li>

                <!-- Invoice Summaries by Date -->
                <li [ngbNavItem]="3">
                    <a ngbNavLink> Invoice Summaries by Date </a>
                    <ng-template ngbNavContent>
                        <app-invoice-summaries-by-date></app-invoice-summaries-by-date>
                    </ng-template>
                </li>
            </ul>
            <div [ngbNavOutlet]="nav" class="mt-2"></div>

        </div>
    </div>
</div>
