<div class="pt-7 bg-light container-fluid">
        <a class="pt-7" type="button" routerLink="/transactions">
        <i class="pbi-icon-mini pbi-minimal-left" aria-hidden="true"></i> Back to Pending Transactions
        </a>
        <h1 class="pb-5">Pending Transaction Detail</h1>
</div>

<div class="container-fluid">
        <div class="row">
                <div class="col">
                        <div class="d-flex justify-content-between">
                                <div>
                                        <h2>Ajax Subliminals</h2>
                                        <h5>Account: 0018315093</h5>
                                        <div class="pt-2">
                                                <h5>Mail Class: First</h5>
                                                <h5>Mail Type: Letter</h5>
                                                <h5>Affix: 0.0000</h5>
                                        </div>
                                </div>
                                <div class="d-flex border border-primary justify-content-between m-7 p-3 bg-light" style="width: 568px;">
                                       <div>
                                               <h6>Expected Invoice Date</h6>
                                               <h6>Location</h6>
                                               <h6>Bill to Acct</h6>
                                               <h6><b>Pending Amount Due</b></h6>
                                       </div>
                                        <div>
                                                <h6>Jun 10, 2021</h6>
                                                <h6>CHA</h6>
                                                <h6>16804770</h6>
                                                <h6><b>$40.70</b></h6>
                                        </div>
                                </div>
                        </div>
                        <h4>Job ID: 38 Dell Postcards</h4>
                        <div class="toolbar">
                                <div class="toolbar-left">
                                        <button class="btn btn-secondary" type="button">
                                                <i class="pbi-icon-mini pbi-download" aria-hidden="true"></i> Download
                                        </button>
                                </div>

                                <div class="toolbar-right">
                                        <span class="mr-7">
                                                <button class="btn btn-secondary" type="button">
                                                        All Dates
                                                </button>
                                        </span>
                                        <button class="btn btn-secondary" type="button">
                                                <i class="pbi-icon-mini pbi-calendar" aria-hidden="true"></i>
                                        </button>

                                        <div class="toolbar-divider">&nbsp;</div>

                                        <div class="input-group">
                                                <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon4">
                                            <i class="pbi-icon-mini pbi-search" aria-hidden="true"></i>
                                        </span>
                                                </div>
                                                <input
                                                        type="text"
                                                        class="form-control"
                                                        placeholder="Search"
                                                        aria-label="Search"
                                                />
                                        </div>
                                </div>
                        </div>

                        <p-table responsiveLayout="scroll"


                                 [value]="transactionsDetail"



                                 [paginator]="false"
                                 [rows]="10"
                                 [showCurrentPageReport]="false"
                                 [globalFilterFields]="['date', 'sortCode', 'resource', 'qty', 'rate', 'fee', 'postage', 'adjFee', 'adjPostage']"
                                 class="p-datatable-striped"
                        >
                                <ng-template pTemplate="header">
                                        <tr>
                                                <th *ngFor="let col of cols">
                                                        {{ col.header }}
                                                        <p-sortIcon *ngIf="col.icon" class="pr-1"></p-sortIcon>
                                                </th>
                                        </tr>
                                </ng-template>

                                <ng-template pTemplate="body" let-transactionsDetail let-columns="cols">
                                        <tr [pSelectableRow]="transactionsDetail">
                                                <td *ngFor="let col of cols">
                                                        {{ transactionsDetail[col.field] }}
                                                </td>
                                        </tr>
                                </ng-template>

<!--                                <ng-template pTemplate="body">-->
<!--                                        <tr>-->
<!--                                                <td>{{details.date}}</td>-->
<!--                                                <td>{{transactionsDetail.sortCode}}</td>-->
<!--                                                <td>{{transactionsDetail.resource}}</td>-->
<!--                                                <td>{{transactionsDetail.qty}}</td>-->
<!--                                                <td>{{transactionsDetail.rate}}</td>-->
<!--                                                <td>{{transactionsDetail.fee}}</td>-->
<!--                                                <td>{{transactionsDetail.postage}}</td>-->
<!--                                                <td>{{transactionsDetail.adjFee}}</td>-->
<!--                                                <td>{{transactionsDetail.adjPostage}}</td>-->
<!--                                        </tr>-->
<!--                                </ng-template>-->

                                <ng-template pTemplate="footer">
                                        <tr>
                                                <td colspan="5"><b>Total</b></td>
                                                <td><b>$15.33</b></td>
                                                <td><b>$25.37</b></td>
                                                <td><b>$0.00</b></td>
                                                <td><b>$0.00</b></td>
                                        </tr>
                                </ng-template>


<!--                                <ng-template pTemplate="body" let-transactionsDetail let-columns="cols">-->

<!--&lt;!&ndash;                    <ng-container *ngFor="let transactions of transactionsDetail">&ndash;&gt;-->
<!--&lt;!&ndash;                          <p *ngFor="let item of transactions.detail">&ndash;&gt;-->
<!--&lt;!&ndash;                                 {{ item }}&ndash;&gt;-->
<!--&lt;!&ndash;                          </p>&ndash;&gt;-->
<!--&lt;!&ndash;                    </ng-container>&ndash;&gt;-->


<!--                                        <tr [pSelectableRow]="transactionsDetail">-->
<!--                                                <td *ngFor="let col of cols">-->
<!--                                                        {{ transactionsDetail[col.field] }}-->
<!--                                                </td>-->
<!--                                        </tr>-->
<!--                                </ng-template>-->

<!--                                                        <ng-container *ngFor="let customer of transactionsDetail">-->
<!--                                                                <td *ngFor="let item of customer.detail">-->
<!--                                                                        {{ item.sortCode }}-->
<!--                                                                </td>-->
<!--                                                                </ng-container>-->

<!--                                <h3 *ngFor="let item of transactionsDetail[0].detail">-->
<!--                                        {{ item }}-->
<!--                                </h3>-->
                        </p-table>
                </div>
        </div>
</div>
