<div class="pt-7 bg-light container-fluid">
        <a class="pt-7" type="button" routerLink="/transactions">
        <i class="pbi-icon-mini pbi-minimal-left" aria-hidden="true"></i> Back to Pending Transactions
        </a>
        <h1 class="pb-5">Pending Transaction Detail</h1>
</div>

<div class="container-fluid">
        <div class="row">
                <div class="col">
                        <div class="d-flex justify-content-between">
                                <div>
                                        <h2>Ajax Subliminals</h2>
                                        <h5>Account: 0018315093</h5>
                                        <div class="pt-2">
                                                <h5>Mail Class: First</h5>
                                                <h5>Mail Type: Letter</h5>
                                                <h5>Affix: 0.0000</h5>
                                        </div>
                                </div>
                                <div class="d-flex border border-primary justify-content-between m-7 p-3 bg-light" style="width: 568px;">
                                       <div>
                                               <h6>Expected Invoice Date</h6>
                                               <h6>Location</h6>
                                               <h6>Bill to Acct</h6>
                                               <h6><b>Pending Amount Due</b></h6>
                                       </div>
                                        <div>
                                                <h6>Jun 10, 2021</h6>
                                                <h6>CHA</h6>
                                                <h6>16804770</h6>
                                                <h6><b>{{ total | currency }}</b></h6>
                                        </div>
                                </div>
                        </div>
                        <h4>Job ID: 38 Dell Postcards</h4>

                        <div class="toolbar">
                                <div class="toolbar-left">
                                        <button class="btn btn-secondary" type="button">
                                                <i class="pbi-icon-mini pbi-download" aria-hidden="true"></i> Download
                                        </button>
                                </div>

                                <div class="toolbar-right">
                                        <span class="mr-7">
                                                <button class="btn btn-secondary" type="button">
                                                        All Dates
                                                </button>
                                        </span>
                                        <button class="btn btn-secondary" type="button">
                                                <i class="pbi-icon-mini pbi-calendar" aria-hidden="true"></i>
                                        </button>

                                        <div class="toolbar-divider">&nbsp;</div>

                                        <div class="input-group">
                                                <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon4">
                                            <i class="pbi-icon-mini pbi-search" aria-hidden="true"></i>
                                        </span>
                                                </div>
                                                <input
                                                        type="text"
                                                        class="form-control"
                                                        placeholder="Search"
                                                        aria-label="Search"
                                                />
                                        </div>
                                </div>
                        </div>

                        <p-table responsiveLayout="scroll"
                                 [value]="transactionsDetail"
                                 [paginator]="false"
                                 [rows]="10"
                                 [showCurrentPageReport]="false"
                                 [globalFilterFields]="['date', 'sortCode', 'resource', 'qty', 'rate', 'fee', 'postage', 'adjFee', 'adjPostage']"
                                 class="p-datatable-striped"
                        >
                                <ng-template pTemplate="header">
                                        <tr>
                                                <th *ngFor="let col of cols">
                                                        {{ col.header }}
                                                        <p-sortIcon *ngIf="col.icon" class="pr-1"></p-sortIcon>
                                                </th>
                                        </tr>
                                </ng-template>



                                <ng-template pTemplate="body" let-transactionsDetail let-columns="cols">
                                        <tr [pSelectableRow]="transactionsDetail">
                                                <td *ngFor="let col of cols">
                                                        <ng-container *ngIf="col.field !== 'fee' && col.field !== 'postage' && col.field !== 'adjFee' && col.field !== 'adjPostage'; else currency">
                                                                {{ transactionsDetail[col.field] }}
                                                        </ng-container>
                                                        <ng-template #currency>
                                                                {{ transactionsDetail[col.field] | currency }}
                                                        </ng-template>
                                                </td>
                                        </tr>
                                </ng-template>
                                <ng-template pTemplate="footer">
                                        <tr>
                                                <td colspan="5"><b>Total</b></td>
                                                <td><b>{{ totalFee | currency }}</b></td>
                                                <td><b>{{ totalPostage | currency }}</b></td>
                                                <td><b>{{ totalAdjFee | currency }}</b></td>
                                                <td><b>{{ totalAdjPostage | currency }}</b></td>
                                        </tr>
                                </ng-template>
                        </p-table>
                </div>
        </div>
</div>
